
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body{
    background-image:url("../img/smoke.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

h1{
    font-family: sans-serif;  
}

p, .navigation{
    font-family: 'Noto Serif', serif; 
}
