
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
*{margin: 0; padding: 0; box-sizing: border-box;}

body{
/*    background-image:url("../img/smoke.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

#hero{
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.headfoot{
    font-family: sans-serif; 
    padding-bottom: 10px;
    padding-right: 40px;
    text-align: right;
}

h1{
    text-align: right;
    padding: 10px;
    padding-right: 40px;
}

p, nav{
    font-family: 'Noto Serif', serif; 
}

nav{
    background:black;
    padding: 2em;
    
}

nav a{
    padding: 2em 5em;
    text-decoration:none;
    color: #fff; 
}

nav a:hover{
    background: grey;
}

.column{
    width: 50%;
}

#column1{
    width: 300px;
    float: left;
    margin: 3em;
    padding-left: 3em
}

#column2{
    width: 50%;
    float: right;
    margin: 3em;
    padding-right: 300px;
}

#email{
    margin-top: 20px;
}

#clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}
